
/* Common styles */

:root {
    --primaryColor: #d6b161;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    transition: all 0.3 ease;
}
a:hover {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skeleton {
    animation: skeleton 1s linear infinite alternate;
}
@keyframes skeleton {
    from {
        background-color: hsl(200, 20%, 70%);
        border-radius: 4px;
    }
    to {
        background-color: hsl(200, 20%, 95%);
        border-radius: 4px;
    }
}
.skeleton>* {
    position: relative;
    z-index: -1;
}

.books-list.skeleton {
    width: 100%;
    height: 400px;
}


/* Header area styles */

.header-area {
    border-bottom: 1px solid #eee;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}


/* Books area styles */

.books-list-area {
    padding: 100px 0;
}

.books-list-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.books-list-heading h1 {
    margin: 0;
}

.books-find-options {
    display: flex;
    align-items: center;
    gap: 30px;
}
.books-list-wrapper.skeleton {
    position: relative;
    z-index: -1;
}
.books-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    min-height: 100vh;
}
.books-list.skeleton {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}
.books-list-wrapper.skeleton::after,
.books-list-wrapper.skeleton::before,
.books-list.skeleton::after,
.books-list.skeleton::before {
    content: '';
    position: absolute;
    background: #fff;
}
.books-list-wrapper.skeleton::before {
    left: 25%;
    transform: translateX(-25%);
}
.books-list-wrapper.skeleton::after {
    left: 75%;
    transform: translateX(-75%);
}
.books-list.skeleton::after {
    width: 100%;
    height: 10px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.books-list.skeleton::before {
    height: 100%;
    width: 10px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.books-list-wrapper.skeleton::after,
.books-list-wrapper::before {
    height: 100%;
    width: 10px;
    top: 0;
}


.single-book {
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.05);
    padding: 15px;
    border-radius: 4px;
    transition: all 0.4s ease;
}
.single-book:hover {
    transform: translateY(-15px);
}

.appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.single-book img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

/* .paginateBtn {
    
} */
.paginateBtn.active {
    background: var(--primaryColor);
}



/* Responsive styles */

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}





